<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<head>
<style>
 {% block css_style %}
        .text-align-center{
              text-align: center;
        }
    .btn-primary{
            margin-left: 530px;
    }
    input, input[placeholder]{
    font-weight:bold;
        color:black;
        text-align:center;
}
    {% endblock %}
</style>
</head>
s
<body>
{% block tableinfo %}
<br>
<br>
<p class="lead text-align-center">Enter A Date To View Summary Details</p>
<br>
   <form method="POST" >{% csrf_token %}
       <div class="row">
           <div class=" col-sm-3 col-sm-offset-5">
       <input name ="Date" type="date" placeholder="YYYY-MM-DD" required>
</div>
 </div>
       <br>
       <input class="btn btn-primary " type="submit" value="Generate">


   </form>
{% endblock %}

</body>
</html>