<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html>
<head>


  <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap2.min.js' %}"></script>

    <style>
    {% block css_style %}
        table, th, td {
    border: 1px solid #D5D4D4;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;
    background-color: #FFF;
}
table#t02 {
    width: 100%;
    background-color: #FFF;
}
        table#t03 {
    width: 100%;
    background-color: #FFF;
}
        table#t04 {
    width: 100%;
    background-color: #FFF;
}
        table#t05 {
    width: 100%;
    background-color: #FFF;
}
          table#t06 {
    width: 100%;
    background-color: #FFF;
}
               table#t07 {
    width: 100%;
    background-color: #FFF;
}

      table#t08 {
    width: 100%;
    background-color: #FFF;
}

              table#t09 {
    width: 100%;
    background-color: #FFF;
}
              table#t10 {
    width: 100%;
    background-color: #FFF;
}


caption {
  padding-top: 75px;
  padding-bottom: 1px;
  color: #777;
  text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #D5D4D4;
}
        .text-align-center{
              text-align: center;
        }

    {% endblock %}
    </style>

</head>
<body>
{% block tableinfo %}
<div class="container">
  <p class="lead text-align-center">Transaction Details {{date_label}}</p>
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Summary</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse in">
        <div class="panel-body">
            {% if supplyProductsFlag %}
            <table class="table" style="width:100%" id="t06" align="left">
                <tr >
                    <th colspan="5" style="text-align:center" >Supplied Products</th>
                </tr>
                <tr>
                    <th>S.No</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Weight</th>
                    <th>No of Products Sold</th>
                  </tr>
                {% for instance in supply_product_info_summary %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.product_name}}</td>
                        <td>{{instance.brand}}</td>
                        <td>{{instance.weight}}</td>
                        <td>{{instance.total}}</td>
                    </tr>
                {% endfor %}

            </table>
            {% else %}
            <table class="table" style="width:100%" id="t07" align="left">
                <tr >
                    <th colspan="5" style="text-align:center" >Supplied Products</th>
                </tr>
                <tr >
                    <th colspan="5" style="text-align:center;color:rgb(134, 11, 3)" >{{ supplyProductsLabel }}</th>
                </tr>
                </table>

            {% endif %}

            {% if receiveProductsFlag %}
            <table class="table" style="width:100%" id="t08" align="left">
                <tr >
                    <th colspan="5" style="text-align:center" >Received Products</th>
                </tr>
                <tr>
                    <th>S.No</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Weight</th>
                    <th>No of Products Received</th>
                  </tr>
                {% for instance in received_product_info_summary %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.product_name}}</td>
                        <td>{{instance.brand}}</td>
                        <td>{{instance.weight}}</td>
                        <td>{{instance.total}}</td>
                    </tr>
                {% endfor %}

            </table>
            {% else %}
            <table class="table" style="width:100%" id="t09" align="left">
                <tr >
                    <th colspan="5" style="text-align:center" >Received Products</th>
                </tr>
                <tr >
                    <th colspan="5" style="text-align:center;color:rgb(134, 11, 3)" >{{ receiveProductsLabel }}</th>
                </tr>
                </table>

            {% endif %}

            <table class="table" style="width:100%" id="t10" align="left">

                <tr>
                    <th>Total Money Received</th>
                    <th>{{received_money_info_summary}}</th>

                  </tr>
                 <tr>
                    <th>Total Money Paid</th>
                    <th>{{paid_money_info_summary}}</th>

                  </tr>
                 <tr>
                    <th>Total Miscellaneous Expenditure</th>
                    <th>{{miscellaneous_expenditure_info_summary}}</th>

                  </tr>

                <tr>
                    <th>Total Balance Amount</th>
                    <th>{{net_amount}}</th>

                  </tr>
                 <tr>
                    <th>Today's Profit</th>
                    <th>{{profit}}</th>

                  </tr>


            </table>

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Supplied Products Information </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            {% if supplyProductsFlag %}
            <table class="table" style="width:100%" id="t01" align="left">
                <tr>
                    <th>S.No</th>
                    <th>Customer Name</th>
                    <th>City</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Weight</th>
                    <th>Selling Price</th>
                    <th>Quantity</th>
                    <th>Remarks</th>
                  </tr>
                {% for instance in supply_product_info %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.customer_name}}</td>
                        <td>{{instance.city}}</td>
                        <td>{{instance.product_name}}</td>
                        <td>{{instance.brand}}</td>
                        <td>{{instance.weight}}</td>
                        <td>{{instance.selling_price}}</td>
                        <td>{{instance.quantity}}</td>
                        <td>{{instance.remarks}}</td>

                    </tr>
                {% endfor %}

            </table>
            {% else %}
            <p style="color:rgb(134, 11, 3)">{{ supplyProductsLabel }}</p>
            {% endif %}

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Received Products Information</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
        {% if receiveProductsFlag %}
        <table class="table" style="width:100%" id="t02" align="left">
                <tr>
                    <th>S.No</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Weight</th>
                    <th>Buying Price</th>
                    <th>Transport Price</th>
                    <th>Selling Price</th>
                    <th>Quantity</th>
                    <th>Supplier</th>
                    <th>Supplier City</th>
                  </tr>
                {% for instance in received_product_info %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.product_name}}</td>
                        <td>{{instance.brand}}</td>
                        <td>{{instance.weight}}</td>
                        <td>{{instance.buying_price}}</td>
                        <td>{{instance.transport_price}}</td>
                        <td>{{instance.selling_price}}</td>
                        <td>{{instance.quantity}}</td>
                        <td>{{instance.supplier}}</td>
                        <td>{{instance.supplier_city}}</td>
                    </tr>
                {% endfor %}

            </table>
            {% else %}
            <p style="color:rgb(134, 11, 3)">{{ receiveProductsLabel }}</p>
            {% endif %}

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Received Money Information</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
                {% if receivedMoneyFlag %}
               <table class="table" style="width:100%" id="t03" align="left">
                <tr>
                    <th>S.No</th>
                    <th>Customer Name</th>
                    <th>City</th>
                    <th>Amount Received</th>
                    <th>Remarks</th>
                  </tr>
                {% for instance in received_money_info %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.customer_name}}</td>
                        <td>{{instance.city}}</td>
                        <td>{{instance.amount_paid}}</td>
                        <td>{{instance.remarks}}</td>
                    </tr>
                {% endfor %}

            </table>
            {% else %}
            <p style="color:rgb(134, 11, 3)">{{ receivedMoneyLabel }}</p>
            {% endif %}

        </div>
      </div>
    </div>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Money Sent Information</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
            {% if paidMoneyFlag %}
            <table class="table" style="width:100%" id="t04" align="left">
                <tr>
                    <th>S.No</th>
                    <th>Supplier Name</th>
                    <th>City</th>
                    <th>Amount Paid</th>
                    <th>Remarks</th>
                  </tr>
                {% for instance in paid_money_info %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.supplier_name}}</td>
                        <td>{{instance.city}}</td>
                        <td>{{instance.amount_paid}}</td>
                        <td>{{instance.remarks}}</td>
                    </tr>
                {% endfor %}

            </table>
            {% else %}
            <p style="color:rgb(134, 11, 3)">{{ paidMoneyLabel }}</p>
            {% endif %}

        </div>
      </div>
    </div>

      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Miscellaneous Expenditure Information</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
            {% if miscellaneousExpenditureFlag %}
             <table class="table" style="width:100%" id="t05" align="left">
                <tr>
                    <th>S.No</th>
                    <th>Expenditure Amount</th>
                    <th>Remarks</th>
                  </tr>
                {% for instance in miscellaneous_expenditure_info %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.expenditure_amount}}</td>
                        <td>{{instance.remarks}}</td>
                    </tr>
                {% endfor %}

            </table>

            {% else %}
            <p style="color:rgb(134, 11, 3)">{{ miscellaneousExpenditureLabel }}</p>
            {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
